@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  scroll-behavior: smooth;
}

/* Hero */
.hero .arrowDown {
  height: 100%;
  width: 50px;
}
/* Hero Divider */
.custom-shape-divider-bottom-1704498595 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1704498595 .hero-divider {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 145px;
}

.custom-shape-divider-bottom-1704498595 .shape-fill {
  fill: #333333;
}

/* Resume Divider */
.custom-shape-divider-bottom-1704498453 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704498453 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 98px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1704498453 .shape-fill {
  fill: #2C86B5;
}

/* Portfolio Divider - Top */
.custom-shape-divider-top-1704929955 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704929955 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 124px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1704929955 .shape-fill {
  fill: #2C86B5;
}

/* Projects */
.projectSmImage {
  max-height: 100%;
}